/* Modal and content styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 800px; /* Maximum width of the modal content */
    max-height: 80%; /* Max height of the modal content */
    overflow-y: auto; /* Scroll if content overflows */
}

/* Image styling */
#file-content img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    max-height: calc(80vh - 80px); /* Ensure the image does not exceed the modal height */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image */
}
